* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.status-btn:hover{
    background-color: #858dc7 !important;
}

.border-black{
    border-color: black !important;
    border-width: 2px !important;
}

/* .card-width{
    width: '100%' !important;
    maxWidth: '350px' !important;
} */