.black-btn{
    background-color: black;
    border-color: black;
    color: white;
}

.black-btn:hover, .black-btn:active{
    background-color: #858dc7;
    border-color: #858dc7;
    color: white;
}

.black-btn:disabled{
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    color: white !important; 
}

.outlined-btn{
    color: black;
    border-color: black;
    background-color: white;
}

.outlined-btn:hover{
    background-color: #858dc7 !important;
    border-color: #858dc7 !important;
}