* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.service-card-container{
    border: 1px black !important;
    border-radius: 10px !important;
} 

.rate-select {
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    padding: 5px 11px;
}

.select-style{
    background-color: white;
    border-color: black;
    border-radius: .25rem;
    border-width: 1px;
}

.rate-text{
    color: black;
    font-size: larger;
    font-weight: 500;
}
