.intro {
    /* min-height: 100vh; */
    /* margin: auto; */
    /* max-width: 800px; */
    text-align: left;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 60%;
    color: black;
}
.intro h1 {
    margin-inline: 30px;
}
.intro .text {
    text-align: left;
    /* padding-inline: 70px; */
    display: flex;
    max-width: 650px;
}

.bg{
    background-image: url('/Users/victoria/book-office-app/src/images/background-image2.jpg');
    background-size: cover; 
    background-position: center; 
    margin-top: 40px;
    height: 75vh;
}

.img-card{
    height: 200px;
    width: 200px;
    margin: auto;
}

/* @media (min-width: 1200px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    .intro {
        width: 70%;
    }
}
@media (max-width: 768px) {
    .intro {
        width: 80%;
    }
}
@media (max-width: 576px) {
    .intro {
        width: 90%;
    }
} */